@import url(https://fonts.googleapis.com/css?family=Lobster);

html, body {
    height: 100%;
}

html {
    font-size: 0;
    font-family: 'Lobster', sans-serif;
    color: #fff;
    background: #131313;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #15b154;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader > .video {
    width: 80vw;
    max-width: 300px;
    border-radius: 35%;
}

.loader > .label {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 36px;
    font-family: 'Lobster', sans-serif;
}

.loader > .label.done {
    margin-top: 18px;
    font-size: 44px;
}
